body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position:sticky;
    top: 0;
    border-bottom: 2px solid snow;
    margin-bottom: 10px;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
   
}

nav ul li a {
    margin: 0 10px;
    padding: 10px;
    background-color:rgb(90, 203, 156);
    color: rgb(245, 249, 249);
    border-radius: 5px;
}

main {
    width: 100%
}
a {
    text-decoration: none;
}

h1 a {
    color: #fff
}
h2 {
    margin-top: 0;
    text-align: center;
    background-color: #a7a59d;
    padding: 5px;
    width: 100%;
}

h3 {
    margin-top: 0;
    text-align: left;
    background-color: #f9f9f6;
    margin-left: 8%;
    margin-right: 8%;

}
footer {
    background-color: #f4f4f4;
    padding: 6px;
    display: flex;
    justify-content: center;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer ul li {
    margin: 0 6px;
}
 
p {
    margin-left: 8%;
    margin-right: 8%;
}

hr {
    color:black;
    border: 3px solid black;
}